* {
    margin: 0px;
    padding: 0px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #7fc540;
    position: relative;
    left: 0;
    right: 0;
    top: -30px;
    height: 200px;
    width: 100%;
    color: #f5f5f5;
    align-items: center;
  }
  
  li {
    margin: 100px;
    display: inline;
  
    font-family: sans-serif;
    font-size: x-large;
  }
  
  li > a {
    color: #f5f5f5;
    text-decoration: none;
    position: absolute;
    margin-left: 300px;
    bottom: 20px;
    text-transform: uppercase;
  }
  
  li > a:hover {
    transition: all 0.3s ease 0s;
  
    color: #1d0404;
  }
  
  img {
    max-width: 20%;
    margin: 0px;
    right: 0px;
    bottom: 200px;
    padding: 22px;
    position: relative;
    background-color: #fff;
    max-height: 20%;
  }
  
  .address {
    position: relative;
    right: -350px;
    padding: 25px;
    background-color: white;
    top: -477px;
    font-family: "Open Sans";
    display: flex;
  }
  
  .location {
    bottom: 482px;
    position: relative;
    left: 354px;
  
    max-width: 305px;
    max-height: 5px;
  }
  .heading {
    background-color: #841d28;
  }
  .bank {
    max-width: 100%;
    height: auto;
    margin: 0px;
    top: 0px;
    padding: 0px;
  }
  
  .health {
    background-color: #841d28;
    display: flex;
    position: relative;
  }
  
  .button-24 {
    position: relative;
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: white;
    background-position: 0 0;
    color: #ff4742;
  }
  
  .button-24:active {
    opacity: 0.5;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: flex;
  
    position: fixed;
    bottom: 27px;
    right: 390px;
    border: 3px solid white;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 600px;
    padding: 20px;
    background-color: #7fc540;
  }
  
  /* Full-width input fields */
  .form-container input[type="text"],
  .form-container input[type="name"],
  .form-container input[type="tel"] {
    width: 300px;
    padding: 15px;
    margin: 20px 0 20px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type="text"]:focus,
  .form-container input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
  }
  
  .el{
    max-height: 800px;
    right: -150px;
    max-width: 800px;
    background-color: #6d1d25;
    top: 220px;
  
  }
  
  
  .fa{
  
    max-height: 800px;
    right: 0px;
    max-width: 600px;
    display: flex;
    background-color: #6d1d25;
    top: -278px; 
  }
  
  .a1{
    max-width: 700px;
    max-height: 701px;
    background-color: #6d1d25;
  }
  
  